body {
  font-family: "Ojuju", sans-serif;
}

h1 {
  margin: 1rem 0 2rem 0;
  font-size: xxx-large;
  font-weight: bolder;
}

h2 {
  margin: 0.75rem 0 1.75rem 0;
  font-size: xx-large;
  font-weight: bold;
}

h3 {
  margin: 0.5rem 0 1.5rem 0;
  font-size: x-large;
}

h4 {
  margin: 0.25rem 0 1.25rem 0;
  font-size: x-large;
  font-weight: lighter;
}
